body {
  font-family: "Bebas Neue", "Zen Kaku Gothic New", sans-serif, cursive;
}

.header {
  display: flex;
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 30px 60px;
}
.header .menu {
  width: 74px;
  margin-left: auto;
  display: flex;
  z-index: 6;
}
.header .menu .hanburger_menu {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.header .menu .hanburger_menu span {
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 3px;
}
.header .menu .hanburger_menu span:nth-child(1) {
  top: 4px;
  transition: 0.5s;
}
.header .menu .hanburger_menu span:nth-child(2) {
  top: 10px;
  transition: 0.5s;
}
.header .menu .hanburger_menu span:nth-child(3) {
  top: 16px;
  transition: 0.5s;
}
.header .menu .hanburger_menu.active span:nth-child(1) {
  transform: translateY(5px) rotate(35deg);
  transition: 0.5s;
}
.header .menu .hanburger_menu.active span:nth-child(2) {
  opacity: 0;
  transition: 0.5s;
}
.header .menu .hanburger_menu.active span:nth-child(3) {
  transform: translateY(-7px) rotate(145deg);
  transition: 0.5s;
}
.header .menu p {
  line-height: 24px;
  height: 30px;
  color: white;
  margin-left: 16px;
}
.header .mask_menu {
  position: fixed;
  width: 520px;
  right: 0;
  z-index: 5;
  height: 100%;
  top: 0;
  background: rgba(34, 34, 34, 0.968627451);
  text-align: center;
  color: white;
  padding-top: 180px;
  pointer-events: none;
  transform: translateX(1000px);
  opacity: 0;
  transition: 0.5s;
}
.header .mask_menu img {
  margin-bottom: 19px;
}
.header .mask_menu ul {
  font-size: 1.25rem;
}
.header .mask_menu ul li {
  margin-bottom: 15px;
  letter-spacing: 2.3px;
}
.header .mask_menu.active {
  transform: translateX(0px);
  opacity: 1;
  transition: 0.5s;
  pointer-events: visible;
}
.header .mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
.header .mask.active {
  opacity: 1;
  z-index: 4;
  pointer-events: visible;
}

.mainvisual {
  position: relative;
}
.mainvisual .mainvisual_left_img {
  width: 1100px;
  height: 740px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.mainvisual .mainvisual_left_img .mainvisual_img {
  position: relative;
  width: 100%;
  height: 659px;
}
.mainvisual .mainvisual_left_img .mainvisual_img img {
  width: 100%;
  transform: scale(1.13);
  object-position: left 0px top 33px;
  position: relative;
}
.mainvisual .mainvisual_left_img .mainvisual_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.mainvisual .mainvisual_right {
  z-index: 9;
  position: absolute;
  background: #222222;
  width: 780px;
  height: 740px;
  right: 0;
  top: 0;
}
.mainvisual .mainvisual_text {
  margin-top: 135px;
  margin-right: 194px;
  position: absolute;
  z-index: 11;
  color: white;
  right: 0;
  top: 0;
}
.mainvisual .mainvisual_text p:nth-child(1) {
  font-size: 1.25rem;
  font-weight: bold;
}
.mainvisual .mainvisual_text p:nth-child(2) {
  margin-bottom: 15px;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}
.mainvisual .mainvisual_text h1 {
  font-size: 4.5rem;
  line-height: 60px;
  letter-spacing: 24px;
  font-weight: revert;
}

.about {
  padding: 0 170px;
  margin-top: 100px;
  position: relative;
}
.about .about_cotainer {
  background-image: url("../image/skyline-4582510_1920.png");
  width: 1100px;
  height: 590px;
  padding: 110px 60px 0 60px;
}
.about .about_cotainer .about_content {
  border-radius: 2px;
  padding: 38px 30px;
  width: 590px;
  height: 370px;
  background: white;
}
.about .about_cotainer .about_content h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: revert;
  margin-bottom: 30px;
}
.about .about_cotainer .about_content p {
  margin-bottom: 30px;
  line-height: 28px;
}
.about .about_cotainer .about_content a {
  border-radius: 4px;
  width: 160px;
  background: black;
  color: white;
  display: block;
  padding: 10px 0;
  text-align: center;
}
.about .backgroud_beige {
  position: absolute;
  width: 1440px;
  height: 771px;
  background: #F0F0F0;
  left: 0;
  top: 483px;
  z-index: -1;
}

.works_culture {
  padding: 80px 170px 0 170px;
}
.works_culture .works_culture_content {
  display: flex;
  justify-content: space-between;
}
.works_culture .works_culture_content .works h1, .works_culture .works_culture_content .culture h1 {
  font-size: 2.3rem;
  margin-bottom: 30px;
}
.works_culture .works_culture_content .works p, .works_culture .works_culture_content .culture p {
  margin: 25px 0;
  font-size: 1.2rem;
}
.works_culture .works_culture_content .read_more_btn {
  border-radius: 4px;
  width: 160px;
  background: black;
  color: white;
  display: block;
  padding: 10px 0;
  text-align: center;
}

.latest_topics {
  padding: 120px 170px 60px 170px;
}
.latest_topics .latest_topics_title {
  font-size: 2.1rem;
  margin-bottom: 32px;
}
.latest_topics .topics {
  width: 700px;
  text-align: left;
  margin-left: auto;
}
.latest_topics .topics .date {
  font-family: "Zen Kaku Gothic New";
  color: #999999;
  margin-bottom: 14px;
  font-size: 0.8rem;
}
.latest_topics .topics .topic_content {
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 32px;
}
.latest_topics .read_more_btn {
  margin-left: auto;
  border-radius: 4px;
  width: 160px;
  background: black;
  color: white;
  display: block;
  padding: 10px 0;
  text-align: center;
}

.contact {
  padding: 60px 170px 120px 170px;
  background: #F0F0F0;
  display: flex;
  justify-content: space-between;
}
.contact .contact_left {
  width: 440px;
  padding: 70px 0;
}
.contact .contact_left h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.contact .contact_left P {
  margin-bottom: 30px;
  line-height: 34px;
}
.contact .contact_left a {
  border-radius: 4px;
  width: 160px;
  background: black;
  color: white;
  display: block;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  text-align: center;
  padding: 20px 0;
  background: #525252;
  color: white;
  font-family: "Zen Kaku Gothic New";
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */